.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.carousel .thumbs-wrapper,
.carousel .carousel-status,
.carousel.carousel-slider .control-arrow {
  display: none;
}
.carousel .control-dots {
  /* float: right; */
  position: absolute;
  bottom: 110px;
  margin: 10px 0;
  padding: 0;
  text-align: center;
  right: 130px;
}
.nav-ul {
  flex: 60%;
  list-style: none;
  color: black;
  font-weight: 600;
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.nav-ul li:hover {
  text-shadow: 1px 1px #3b3b3bad;
  transition: all 0.1s ease-in-out;
}
.nav-ul li {
  margin-right: 15px;
}
.logo {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  flex: 60%;
}
.login-btn {
  background-color: #e8991d;
  color: rgb(255, 255, 255);
  border-radius: 16px;
  width: 90px;
  height: 35px;
  overflow: hidden;
  outline: none;
  border: none;
}
.login-btn:active {
  border: none;
  color: #e8991d;
  background-color: white;
}
.home-cover {
  position: relative;
  overflow: hidden;
  object-fit: cover;
  width: 100%;
  height: 550px;
}
.home-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-cover .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #04040467;
}
.head {
  margin-top: 120px;
  z-index: 11;
}
.play-btn {
  background-color: #ffffff00;
  color: rgb(255, 255, 255);
  border-radius: 16px;
  overflow: hidden;
  outline: none;
  border: 1px solid white;
  height: 35px;
  margin-left: 10px;
}
.des {
  color: white;
  font-weight: 700;
  font-size: 35px;
  width: 600px;
  margin: 0px 50px 50px 0px;
}
.info p {
  font-weight: 300;
  font-size: 14px;
}
.info {
  background-color: #dee9c2;
  width: 100%;
  position: relative;
  z-index: 20;
  padding: 20px;
  height: 300px;
}
.carousel .slide {
  text-align: inherit !important;
}
.carousel .control-dots {
  bottom: 16% !important;
  right: -37% !important;
}
.cards {
  position: absolute;
  display: flex;
  margin: auto;
  padding-top: 100px;
  z-index: 30;
  margin-top: -60px;
}
.card {
  flex-direction: column;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  margin: 10px;
  width: 266px;
  height: 200px;
  font-size: 15px;
  background-color: white;
  box-shadow: 4px 4px 5px #aaaaaa;
  margin: 20px;
}
.card small {
  margin: 0px 30px 0px 30px;
  text-align: center;
}
